Babel==2.18.0
blinker==1.9.0
click==8.4.2
colorama==0.4.6
Flask==2.2.5
Flask-Babel==4.0.0
Flask-Table==0.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.2.6
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2026.3.post1
six==1.17.0
tzdata==2026.3
Werkzeug==2.2.3
